/* Footer Section */

footer {
    height: 15rem;
}

.container-footer {
    display: flex;
    flex-flow : row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-footer #logo {
    font-size: 1.2em;
    width: 20%;
    align-self: flex-start;
    position: relative;
    top: 2.5em;
    line-height: 1.2em;
}

.footer-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 5em;
}

.footer-wrap h3 {
   font-size: 0.8em;
   margin-bottom: 0.2em;
   line-height: 1.5em;
   text-transform: uppercase;
   font-weight: lighter;
   border-bottom: 0.05em solid #354463;
   color: #354463;
}

.footer-wrap .text-wrap {
    font-family: ‘flood-std’;
    color: #354463;
    font-size: 2.2em;
    width: 20%;
    position: relative;
    left: 1em;
}

.footer-wrap p {
    font-weight: lighter;
    line-height: 1.2em;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: #354463;
}

.footer-wrap div {
    width: 14%;
}

.social-links a {
    text-decoration: none;
    color: #354463;
}

.social-links a:visited {
   color: #354463;
   text-decoration: none;
}

/* Responsive Layout of footer for Tablets */

@media all and (min-width : 765px) and (max-width : 1024px){
   footer {
       height: 20rem;
   }

   .container-footer {
       display: flex;
       flex-flow : row nowrap;
       justify-content: space-between;
       align-items: center;
       height: 100%;
   }
   
   .container-footer #logo {
       font-size: 1.1em;
       width: 25%;
       align-self: flex-start;
       position: relative;
       top: 2.5em;
       left: 0;
       line-height: 1.2em;
   }

   .footer-wrap {
       display: flex;
       flex-flow: row wrap;
       width: 100%;
       justify-content: space-between;
       height: 14em;
   }

   .footer-wrap h3 {
      font-size: 0.5em;
      margin-bottom: 0.2em;
      line-height: 1.4em;
      text-transform: uppercase;
      font-weight: lighter;
      border-bottom: 0.05em solid #354463;
      color: #354463;
   }

   .footer-wrap .text-wrap {
       font-family: ‘flood-std’;
       color: #354463;
       font-size: 2em;
       width: 20%;
       left: -2.2em;
       top: 0.1em;
       order: 4;
   }

   .footer-wrap p {
       font-weight: lighter;
       line-height: 1.2em;
       font-size: 0.8em;
       margin-top: 0.5em;
       color: #354463;
   }
   

   .footer-wrap div {
       width: 40%;
   }

   .footer-wrap .address
   {
       order: 1;
   }

   .footer-wrap .links {
       order : 3
   }

   .footer-wrap .social-links {
       order: 2;
   }
}

/* Responsive Layout of Footer Section for Mobiles */

@media all and (max-width:765px) {
   footer {
       height: 18rem;
   }

   .container-footer {
       display: flex;
       flex-flow : row nowrap;
       justify-content: space-between;
       align-items: flex-start;
       height: 100%;
       margin-top: 0;
       position: relative;
   }
   
   .container-footer #logo {
       font-size: 0.9em;
       width: 40%;
       align-self: flex-start;
       position: relative;
       top: 0;
       left: 0;
       line-height: 1.2em;
   }

   .footer-wrap {
       display: flex;
       flex-flow: column wrap;
       width: 50%;
       justify-content: space-between;
       height: 15em;
       margin-top: 1.5em;
   }

   .footer-wrap h3 {
      font-size: 0.5em;
      margin-bottom: 0.2em;
      line-height: 1.4em;
      text-transform: uppercase;
      font-weight: lighter;
      border-bottom: 0.05em solid #354463;
      color: #354463;
   }

   .footer-wrap .text-wrap {
       font-family: ‘flood-std’;
       color: #354463;
       font-size: 1.5em;
       width: 100%;
       top: 0;
       left: 0;
       order: 4;
       position: relative;
       text-align: right;
       left: -1em;
   }

   .footer-wrap p {
       font-weight: lighter;
       line-height: 1.2em;
       font-size: 0.6em;
       margin-top: 0.5em;
       color: #354463;
   }

   .footer-wrap div {
       width: 75%;
   }

   .footer-wrap .address
   {
       order: 1;
   }

   .footer-wrap .links {
       order : 3
   }

   .footer-wrap .social-links {
       order: 2;
       position: absolute;
       left: 0;
       top: 39%;
       width: 30%;
   }
}