    /* Meyers CSS Reset */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
        /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
        /* Main CSS */
    
    /* Global */
    
    body{
        background: #FFFFFF;
        font-family: Helvetica, Sans-Serif;
    }
    
    .big-button {
        font-family: Helvetica, sans-serif;
        position: relative;
        bottom: 0.8em;
        font-weight: bold;
        font-size: 0.9rem;
        background: #C1F7D5;
        color: #354463;
        width: 8.3em;
        height: 1.6em;
        padding: 0.5em;
        padding-top: 0.6em;
        text-align: center;
        border-radius: 2em;
    }
    
    .container{
        width: 80%;
        margin: auto;
        overflow: hidden;
        display: flex;
    }
    .mobile-display-btn{
        display: none;
    }
    
    .legend {
        width: 10em;
        height: 2.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 0.7em;
        color: #FFFFFF;
        background-color: #354463;
        text-align: center;
        line-height: 2.5em;
    }
    
        /* Header CSS */
    .container-header {
        line-height: 1.2em;
        flex-flow: row nowrap;
        background: #FFFFFF;
        min-height: 20%;
        color: #354463;
    }
    
    #logo {  
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        padding-top: 2em;
        width: 17%;
        margin-right: auto;
    }
        /* Navigation bar */
    #nav {     
        width: 100%;
        margin-left: 8em;
    }
    .nav-links-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;  
        padding-top: 3.6em; 
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 0.8em;
    }
    .nav-links-container a{
        color: inherit;
        text-decoration: none;
    }
    .nav-links-container a:hover{
        color: black;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    
    .nav-donate {
        margin-top: 0.2em;
    }
    
    /* Responsive Layout for NavBar  */
    
    /* Responsive for Laptops */
    @media all and (max-width:1280px) {
    
        /* Header CSS */
        .container-header {
            line-height: 1.2em;
            flex-flow: row nowrap;
            background: #FFFFFF;
            min-height: 20%;
            color: #354463;
        }
        
        #logo {  
            font-family: Helvetica, Sans-Serif;
            font-weight: bold;
            padding-top: 2em;
            width: 15%;
            margin-right: auto;
        }
            /* Navigation bar */
        #nav {     
            width: 100%;
            margin-left: 8em;
        }
        .nav-links-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;  
            padding-top: 3.6em; 
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 0.8em;
        }
        .nav-links-container a{
            color: inherit;
            text-decoration: none;
        }
        .nav-links-container a:hover{
            color: black;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        
    }
    
    /* Responsive Layout of Navbar for Tablets */
    
    @media all and (min-width : 765px) and (max-width : 1024px){
        /* Header CSS */
        .container-header {
            line-height: 1.2em;
            flex-flow: column nowrap;
            background: #FFFFFF;
            min-height: 20%;
            color: #354463;
        }
        
        #logo {  
            font-family: Helvetica, Sans-Serif;
            font-weight: bold;
            padding-top: 2em;
            width: 25%;
            margin-right: auto;
        }
            /* Navigation bar */
        #nav{
            margin: auto;
        }
        .nav-links-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;  
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 0.8em;
            padding-top: 2em;
        }
        .nav-links-container a{
            color: inherit;
            text-decoration: none;
        }
        .nav-links-container a:hover{
            color: black;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        
        .nav-donate {
            margin-top: 0.3em;
            position: relative;
            bottom: 4em;
        }
    }
    
    /* Responsive Layout of NavBar for Mobiles */
    
    @media all and (max-width:765px) {
        /* Header CSS */
        .container-header {
            line-height: 1.2em;
            height: 8.2em;
            flex-flow: row nowrap;
            background: white;
            min-height: 20%;
            color: #354463;
            justify-content: space-between;
            position: relative;
        }
        
        #logo {  
            font-family: Helvetica, Sans-Serif;
            font-size: 0.9em;
            font-weight: bold;
            padding-top: 1.5em;
            margin: 0;
            width: 45%;
        }
            /* Navigation bar */
        #nav{
            width: 40%;
            margin: 0;
            height: 5em;
            display: flex;
            flex-direction: column;
        }
        .nav-links-container {
            display: flex;
            align-self: flex-end;
            height: 80%;
            flex-flow: column nowrap;
            flex-grow: 10;
            justify-content: space-around;  
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 0.6em;
            padding-top: 2em; 
            padding-left: 2em;
        }
       
        .nav-links-container a{
            color: inherit;
            text-decoration: none;
        }
        .nav-links-container a:hover{
            color: black;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        
        .nav-donate {
            display: none;
        }
        /* Created Button for Mobile Layout */
        .mobile-display-btn {
            display: flex;
            position: absolute;
            top: 72%;
            left: 3%;
            border-radius: 2em;
            height:23%;
            width: 90%;
            border: none;
            text-align: center;
        }
        .button-text{
            font-family: Helvetica, sans-serif;
            font-weight: bolder;
            width: 100%;
            font-size: 0.9rem;
            background: #C1F7D5;
            text-align: center;
            color:#354463;
            
        }
    } 
    
    
        /* CSS for the First Section -> The Issue Section */
    
        .section1{
            margin-top: 1%;
            background: url(../assets/home/annie-spratt-135307-unsplash.png) 0% 0% no-repeat padding-box;
            background-size: cover;
            height: 28em;
        }
    
        .container-section1{
            position: relative;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    
        /* The Issue Box */
    
        .the-issue-box{
            margin-top: 5em;
            height: 18rem;
            width: 25rem;
            background: #FFFFFF;
            border: none;
            margin-right: 1em;
        }
        .box-wrap{
            position: relative;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
        }
    
        .issue-legend{
            position: absolute;
            top: -1em;
            left: 4em;
        }
    
        .the-issue-box .text-wrap {
            font-family: Helvetica;
            font-weight: 600;
            font-size: 2em;
            width: 90%;
            padding-bottom: 0.8em;
            line-height: 1.3em;
            color: #354463; 
            margin: auto;
            margin-top: 10%;
        }
    
        .the-issue-box .text-link {
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            opacity: 0.8;
            font-size: 0.75em;
            text-align: center;
            margin-right: 8%;
            margin-bottom: 10%;
        }
    
        .text-link a:visited {
            color: #354463; 
        }
    
        /* Stop Climate Change Text */
    
        .text-climate{
            height: 10em;
            align-self: center;
            margin-right: 22%;
        }
    
    /* Responsive version of The Issue Box */
    
    /* Responsive for Laptops */
    @media all and (max-width:1280px) {
    
        /* The issue box */
        .the-issue-box{
            margin-top: 5em;
            height: 18rem;
            width: 50%;
            background: #FFFFFF;
            border: none;
            margin-right: 1em;
        }
        .box-wrap{
            position: relative;
            height: 100%;
            width: 100;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
        }
    
        .issue-legend{
            position: absolute;
            top: -1em;
            left: 4em;
        }
    
        .the-issue-box .text-wrap {
            font-family: Helvetica;
            font-weight: 600;
            font-size: 2em;
            width: 90%;
            padding: 0;
            margin-bottom: 0;
            line-height: 1.3em;
            color: #354463; 
            margin: auto;
            margin-top: auto;
        }
    
        .the-issue-box .text-link {
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            opacity: 0.8;
            font-size: 0.75em;
            text-align: center;
            margin-right: auto;
            margin-bottom: 5%;
            margin-left: 10%;
        }
    
        .text-link a:visited {
            color: #354463; 
        }
    
        /* Stop Climate Change Text */
    
        .text-climate{
            height: 10em;
            align-self: center;
            margin-right: auto;
        }
    }
    
    /* Responsive Layout of The Issue Section for Tablets */
    
    @media all and (min-width : 765px) and (max-width : 1024px){
        .section1{
            margin-top: 1%;
            background: url(../assets/home/annie-spratt-135307-unsplash@2x.png) no-repeat;
            height: 43em;
            background-size: cover;
            background-position: right;
            background-position: 75% top;
        }
    
        .container-section1{
            flex-direction: column-reverse;
            justify-content: space-around;
        }
    
        /* The issue box */
        .the-issue-box{
            margin-top: 5em;
            height: 16rem;
            width: 100%;
            background: #FFFFFF;
            border: none;
            margin-right: 1em;
        }
        .box-wrap{
            position: relative;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
        }
    
        .issue-legend{
            position: absolute;
        }
        
        .the-issue-box .text-wrap {
            font-family: Helvetica;
            position: relative;
            font-weight: 600;
            font-size: 2em;
            width: 80%;
            padding: 0;
            margin-bottom: 0;
            line-height: 1.3em;
            color: #354463; 
            margin: auto;
            margin-top: auto;
        }
    
        .the-issue-box .text-link {
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            opacity: 0.8;
            font-size: 0.75em;
            text-align: center;
            margin-right: auto;
        }
        
        .text-link a:visited {
            color: #354463; 
        }
        
        /* Stop Climate Change Text */
        
        .text-climate{
            height: 10em;
            margin-right: 55%;
            margin-top: 20%;
        }
    }
    
    /* Responsive Layout of The Issue Section for Mobiles */
    
    @media all and (max-width:765px) {
        .section1{
            margin-top: 5%;
            background: url(../assets/home/annie-spratt-135307-unsplash@3x.png) no-repeat;
            height: 32em;
            background-size: cover;
            background-position: right;
            background-position: 75%;
        }
    
        .container-section1{
            flex-direction: column-reverse;
            width: 85%;
        }
    
        /* The issue box */
        .the-issue-box{
            margin-top: 5em;
            width: 100%;
            height: 12rem;
            background: #FFFFFF;
            border: none;
        }
        .box-wrap{
            position: relative;
            top:auto;
            width: 100%;
            display: flex;
            margin: auto;
            padding-right: 0.5em;
        }
    
        .issue-legend{
            position: absolute;
            left: auto;
        }
        
        .the-issue-box .text-wrap {
            font-family: Helvetica;
            font-weight: 750;
            font-size: 1.2em;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            padding-top:1em;
            line-height: 1.3em;
            color: #354463; 
            margin: auto;
            text-align: center;
        }
    
        .the-issue-box .text-link {
            font-family: Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 0.75em;
            width: 80%;
            text-align: center;
            margin: auto;
        }
        
        .text-link a:visited {
            color: #354463; 
        }
        
        /* Stop Climate Change Text */
        
        .text-climate{
            height: 10em;
            margin-right: auto;
            margin-top: 10%;
        }
    }
        /* Take Action Section */
    
        .section2{
            background-color: #C1F7D5;
            height: 9em;
        }
    
        .take-action-box {
            display: flex;
            height: 6.5em;
            flex-flow: column nowrap;
            justify-content: space-between;
            font-family: Helvetica, sans-serif;
            position: absolute;
        }
        .take-action-legend {
            position: relative;
            top: -1.5em;
            left: 37.5%;
        }
        .take-action-items{
            color: #354463;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    
        .take-action-items p {
            width: 23%;
            font-weight: 100;
            opacity: 0.8;
            font-size: 0.8em;
            line-height: 1.5em;
        }
        .take-action-items strong{
            font-weight: 930;
            font-size: 1.72em;
            opacity: 1;
        }
    
        /* Responsive Layout for Take Action Section */
    
    /* Responsive for Laptop  */
        @media all and (max-width:1280px) {
            .section2{
                background-color: #C1F7D5;
                height: 8em;
            }
        
            .take-action-box {
                display: flex;
                height: 6.5em;
                flex-flow: column nowrap;
                justify-content: space-between;
                font-family: Helvetica, sans-serif;
                position: absolute;
            }
            .take-action-legend {
                position: relative;
                top: -1.5em;
                left: 37.5%;
            }
            .take-action-items{
                color: #354463;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        
            .take-action-items p {
                width: 23%;
                font-weight: 100;
                opacity: 0.8;
                font-size: 0.8em;
                line-height: 1.5em;
            }
            .take-action-items strong{
                font-weight: 930;
                font-size: 1.72em;
                opacity: 1;
            }
        }
    
        /* Responsive Layout of Take Action Section for Tablet */
     @media all and (min-width : 765px) and (max-width : 1024px){
        .section2{
            height: 13em;
        }
    
        .take-action-box {
            display: flex;
            height: 6.5em;
            width: 85%;
            flex-flow: column nowrap;
            justify-content: space-between;
            font-family: Helvetica, sans-serif;
        }
        .take-action-legend {
            position: relative;
            top: -1.5em;
            left: 35%;
        }
        .take-action-items{
            color: #354463;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
        }
    
        .take-action-items p {
            width: 40%;
            font-weight: 100;
            opacity: 0.8;
            font-size: 0.8em;
            line-height: 1.5em;
        }
        .take-action-items strong{
            font-weight: 930;
            font-size: 1.72em;
            opacity: 1;
        }
    
        .text-volunteer {
            align-self: flex-end;
            position: absolute;
            top: 2em;
            margin-right: auto;
        }
    
        .text-share {
            margin-top: 2em;
        }
    
        .text-donate {
            align-self: flex-end;
            position: absolute;
            top: 7.5rem;
            margin-right: auto;
        }
    }

    /* Responsive Layout of Take Action Section for Mobiles */
    
    @media all and (max-width:765px) {
    .section2{
        height: 15em;
    }

    .take-action-box {
        display: flex;
        height: 6em;
        width: 85%;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-family: Helvetica, sans-serif;
    }
    .take-action-legend {
        position: relative;
        top: -1.5em;
        left: 25%;
    }
    .take-action-items{
        color: #354463;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .take-action-items p {
        width: 40%;
        font-weight: 100;
        opacity: 0.8;
        font-size: 0.7em;
        line-height: 1.5em;
    }
    .take-action-items strong{
        font-weight: 930;
        font-size: 1.52em;
        opacity: 1;
    }

    .text-volunteer {
        align-self: flex-end;
        position: absolute;
        top: 2.5em;
        margin-right: auto;
    }

    .text-share {
        margin-top: 2em;
    }

    .text-donate {
        align-self: flex-end;
        position: absolute;
        margin-top : 4em;
    }
}

 /* CSS for The What We Do Section */

    .section3 {
        height: 55em;
        background-color: #354463;
    }

    .what-we-do-legend {
        background-color: white;
        color: #354463;
        font-weight: 500;
        font-size: 1em;
        width: 12.5%;
    }

    .container-section3 {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .text-mission {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.8em;
        color: #FFFFFF;
    }

    .what-we-do-boxes {
        margin-left: 5em;
        display: flex;
        height: 60%;
        width: 85%;
        flex-flow: row nowrap;
        justify-content: center;
        color : #354463;
    }
    .what-we-do-boxes img {
        width: 100%;
        position: relative;
        left: 10%;
        top: -5%;
    }

    .tree-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }
    .tree-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6%;
        width: 85%;
    }

    .tree-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .tree-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }

    .education-box {
        background: #FFFFFF;
        margin: 0 4em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }

    .education-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6%;
        width: 85%;
    }

    .education-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .education-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }

    .advocacy-box {
        background: #FFFFFF;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }

    .advocacy-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6.5%;
        width: 85%;
    }

    .advocacy-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .advocacy-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }

    /* Responsive Layout of What We Do Section */

/* Responsive Layout of Laptops */

@media all and (max-width:1280px) {
    
    .what-we-do-legend {
        background-color: white;
        color: #354463;
        font-weight: 570;
        width: 12.5%;
    }

    .container-section3 {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .text-mission {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.8em;
        color: #FFFFFF;
    }

    .what-we-do-boxes {
        display: flex;
        height: 60%;
        margin-left: 0;
        width: 95%;
        flex-flow: row nowrap;
        color : #354463;
    }
    .what-we-do-boxes img {
        width: 100%;
        position: relative;
        left: 10%;
        top: -5%;
    }

    .tree-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }
    .tree-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6%;
        width: 85%;
    }

    .tree-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .tree-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }

    .education-box {
        background: #FFFFFF;
        margin: 0 4em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }

    .education-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6%;
        width: 85%;
    }

    .education-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .education-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }

    .advocacy-box {
        background: #FFFFFF;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }

    .advocacy-box strong {
        font-size: 1.5em;
        font-weight: 550;
        line-height: 1.2em; 
        position: relative;
        left: 8%;
        top: -6.5%;
        width: 85%;
    }

    .advocacy-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.4em;
        position: relative;
        left: 8%;
        top: -3%;
        width: 80%;
    }

    .advocacy-box .read-more {
        width: 50%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
    }
}

/* Responsive Layout of What We Do section for Tablets  */

@media all and (min-width : 765px) and (max-width : 1024px){ 
    .section3 {
        height: 76rem;
    }

    .container-section3 {
        height: 80rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .what-we-do-legend {
        background-color: white;
        color: #354463;
        font-weight: 570;
        width: 25%;
        position: relative;
        top: -2%;
    }

    
    .text-mission {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.6em;
        line-height: 1.2em;
        color: #FFFFFF;
        position: relative;
        top: -8%;
    }

    .what-we-do-boxes {
        display: flex;
        height: 60%;
        width: 100%;
        flex-flow: column nowrap;
        color : #354463;
        position: relative;
        top: -10%;
    }
    .what-we-do-boxes img {
        width: 45%;
        position: relative;
        left: 5%;
        top: -12%;
    }

    .tree-box {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height:15em;
        width: 100%;
    }
    .tree-box strong {
        font-size: 1.3em;
        font-weight: 550;
        line-height: 1.2em; 
        position: absolute;
        width: 45%;
        left: 55%;
        top: 7%;
    }

    .tree-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.5em;
        position: absolute;
        width: 40%;
        top: 35%;
        left: 55%;
    }

    .tree-box .read-more {
        position: relative;
        bottom: 15%;
        left: 15%;
        width: 22%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 900;
    }

    .education-box {
        display: flex;
        margin : 4em 0;
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height:15em;
        width: 100%;
    }

    .education-box strong {
        font-size: 1.3em;
        font-weight: 550;
        line-height: 1.2em; 
        position: absolute;
        width: 45%;
        left: 55%;
        top: 7%;
    }

    .education-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.5em;
        position: absolute;
        width: 40%;
        top: 35%;
        left: 55%;
    }

    .education-box .read-more {
        position: relative;
        bottom: 15%;
        left: 15%;
        width: 22%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 900;
    }

    .advocacy-box {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height:15em;
        width: 100%;
    }

    .advocacy-box strong {
        font-size: 1.3em;
        font-weight: 550;
        line-height: 1.2em; 
        position: absolute;
        width: 45%;
        left: 55%;
        top: 7%;
    }

    .advocacy-box p {
        font-size: 0.8em;
        font-weight: lighter;
        line-height: 1.5em;
        position: absolute;
        width: 40%;
        top: 35%;
        left: 55%;
    }

    .advocacy-box .read-more {
        position: relative;
        bottom: 15%;
        left: 15%;
        width: 22%;
        padding: auto;
        margin-left: 8%;
        font-size: 0.8em;
        font-weight: 900;
    }
}

/* Responsive Layout of What We Do Section for Mobiles */
    
@media all and (max-width:765px) {
    .section3 {
        height: 100em;
        background-color: #354463;
    }

    .what-we-do-legend {
        background-color: white;
        color: #354463;
        font-weight: 500;
        width: 50%;
        align-self: center;
        position: relative;
        top: -3%;
    }
    .container-section3 {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .text-mission {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.1em;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        position: relative;
        top: -10%;
    }

    .what-we-do-boxes {
        display: flex;
        height: 60%;
        width: 100%;
        flex-flow: column nowrap;
        color : #354463;
        position: relative;
        top: -16%;
    }
    .what-we-do-boxes img {
        width: 80%;
        position: relative;
        left: 10%;
        top: -8%;
    }

    .tree-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }
    .tree-box strong {
        font-size: 0.9em;
        font-weight: 550;
        line-height: 1.2em;
        align-self: center; 
        position: relative;
        top: -6%;
        left: auto;
        text-align: center;
        width: 85%;
    }

    .tree-box p {
        font-size: 0.7em;
        font-weight: lighter;
        line-height: 1.4em;
        align-self: center;
        position: relative;
        text-align: center;
        top: -3%;
        left: 0;
        width: 80%;
    }

    .tree-box .read-more {
        width: 40%;
        padding: auto;
        margin-left: 27%;
        font-size: 0.7em;
        font-weight: 800;
        margin-top: 1em;
    }

    .education-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        margin: 3em 0;
        background: #FFFFFF;
        height: 100%;
    }

    .education-box strong {
        font-size: 0.9em;
        font-weight: 550;
        line-height: 1.2em;
        align-self: center; 
        position: relative;
        top: -6%;
        left: auto;
        text-align: center;
        width: 85%;
    }

    .education-box p {
        font-size: 0.7em;
        font-weight: lighter;
        line-height: 1.4em;
        align-self: center;
        position: relative;
        text-align: center;
        top: -3%;
        left: 0;
        width: 80%;
    }

    .education-box .read-more {
        width: 40%;
        padding: auto;
        margin-left: 27%;
        font-size: 0.7em;
        font-weight: 800;
        margin-top: 1em;
    }

    .advocacy-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background: #FFFFFF;
        height: 100%;
    }

    .advocacy-box strong {
        font-size: 0.9em;
        font-weight: 550;
        line-height: 1.2em;
        align-self: center; 
        position: relative;
        top: -6%;
        left: auto;
        text-align: center;
        width: 85%;
    }

    .advocacy-box p {
        font-size: 0.7em;
        font-weight: lighter;
        line-height: 1.4em;
        align-self: center;
        position: relative;
        text-align: center;
        top: -3%;
        left: 0;
        width: 80%;
    }

    .advocacy-box .read-more {
        width: 40%;
        padding: auto;
        margin-left: 27%;
        font-size: 0.7em;
        font-weight: 800;
        margin-top: 1em;
    }
}

/* Did you know section of the Web Page */

    .section4 {
        background: url(../assets/home/did-you-know-background.png) 0 0 no-repeat;
        background-size: cover;
        background-position: center;
        height: 60em;
        }

    .container-section4 {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .take-action-wrap-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        position: relative;
        top: -6em;
        width: 35%;
    }

    .take-action-wrap-box .img1{
        width: 85%;
        height: auto;
    }
    .take-action-wrap-box .img2 {
        display: none;
    }

    .take-action {
        position: relative;
        top: -22em;
    }

    .did-you-know-container {
        position: relative;
        margin-top: 4em;
    }

    .did-you-know-wrap-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100%;
        color: #354463;
    }


    .did-you-know-wrap-box p {
        height: auto;
        font-size: 1em;
        line-height: 1.7em;
        width: 60%;
        position: relative;
        left: 3em;
        top: 3em;
    }

    .did-you-know-wrap-box strong {
        font-size: 2.70em;
        font-weight: 550;
        text-align: center;
    }
    .img-wrap {
        position: relative;
        left: 5em;
    }

    .img-wrap a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.6em;
        height: 1.6em;
        background: #C1F7D5;
        border-radius: 50%;
        margin: 0.5em 0;
    }

    .did-you-know-wrap-box .img-wrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    .did-you-know-legend {
        position: absolute;
        width: 27.5%;
        top: 1.5%;
        left: 10%;
    }

    .box1 {
        background: #FFFFFF;
        display: flex;
        flex-flow: row nowrap;
        height: 20%;
        width: 100%;
    }

    .box2{
        background: #FFFFFF;
        display: flex;
        flex-flow: row nowrap;
        height: 20%;
        width: 100%;

    }

    .box3{
        background: #FFFFFF;
        display: flex;
        flex-flow: row nowrap;
        height: 20%;
        width: 100%;
    }

    .box4{
        background: #FFFFFF;
        display: flex;
        flex-flow: row nowrap;
        height: 20%;
        width: 100%;
    }

    /* Responsive Layout of Did you Know Section for Laptops  */
    @media all and (max-width:1280px) {
        .section4 {
            background: url(../assets/home/did-you-know-background.png) 0 0 no-repeat;
            background-size: cover;
            background-position: center;
            height: 60em;
            }
    
        .container-section4 {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    
        .take-action-wrap-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            position: relative;
            top: -6em;
            width: 35%;
        }
        .take-action-wrap-box .img1{
            width: 85%;
            height: auto;
        }
        
        .take-action-wrap-box .img2 {
            display: none;
        }
    
        .take-action {
            position: relative;
            top: -22em;
        }
    
        .did-you-know-container {
            position: relative;
            margin-top: 4em;
        }
    
        .did-you-know-wrap-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            height: 100%;
            color: #354463;
        }
    
    
        .did-you-know-wrap-box p {
            height: auto;
            font-size: 1em;
            line-height: 1.7em;
            width: 60%;
            position: relative;
            left: 3em;
            top: 3em;
        }
    
        .did-you-know-wrap-box strong {
            font-size: 2.70em;
            font-weight: 550;
            text-align: center;
        }
        .img-wrap {
            position: relative;
            left: 5em;
        }
    
        .img-wrap a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.6em;
            height: 1.6em;
            background: #C1F7D5;
            border-radius: 50%;
            margin: 0.5em 0;
        }
    
        .did-you-know-wrap-box .img-wrap {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 100%;
        }
    
        .did-you-know-legend {
            position: absolute;
            width: 27.5%;
            top: 1.5%;
            left: 10%;
        }
    
        .box1 {
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        }
    
        .box2{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
    
        }
    
        .box3{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        }
    
        .box4{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        } 
    }

/* Responsive Layout of Did you know section for Tablets  */

    @media all and (min-width : 765px) and (max-width : 1024px){
        .section4 {
            background: url(../assets/home/did-you-know-background@2x.png) 0 0 no-repeat;
            background-size: cover;
            height: 55em;
            }
    
        .container-section4 {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    
        .take-action-wrap-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            position: relative;
            top: -6em;
            width: 45%;
        }
        .take-action-wrap-box img {
            height: auto;
            width: 85%;
        }
        .take-action-wrap-box .img1 {
            display: none;
        }

        .take-action-wrap-box .img2 {
            display: inline;
        }
    
        .take-action {
            position: relative;
            top: -20em;
        }
    
        .did-you-know-container {
            position: relative;
            margin-top: 4em;
        }
    
        .did-you-know-wrap-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            height: 95%;
            color: #354463;
        }
    
    
        .did-you-know-wrap-box p {
            height: auto;
            font-size: 0.65em;
            line-height: 1.65em;
            width: 60%;
            position: relative;
            left: 2em;
            top: 3em;
        }
    
        .did-you-know-wrap-box strong {
            font-size: 2.4em;
            font-weight: 550;
            text-align: center;
        }
        .img-wrap {
            position: relative;
            left: 3em;
        }
    
        .img-wrap a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.6em;
            height: 1.6em;
            background: #C1F7D5;
            border-radius: 50%;
            margin: 0.5em 0;
        }
    
        .did-you-know-wrap-box .img-wrap {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 100%;
        }
    
        .did-you-know-legend {
            position: absolute;
            width: 45%;
            font-size: 0.75em;
            top: 3%;
            left: 7%;
        }
    
        .box1 {
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 15%;
            width: 100%;
        }
    
        .box2{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 15%;
            width: 100%;
    
        }
    
        .box3{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 15%;
            width: 100%;
        }
    
        .box4{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 15%;
            width: 100%;
        } 
    }

     /* Responsive Layout of Did you know Section for Mobiles */
    
     @media all and (max-width:765px) {
        .section4 {
            background: url(../assets/home/did-you-know-background@3x.png) 0 0 no-repeat;
            background-size: cover;
            background-position: top left;
            height: 55em;
            }
    
        .container-section4 {
            position: relative;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
        }
    
        .take-action-wrap-box {
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            top: 2em;
            height: 15em;
        }
        .take-action-wrap-box img {
            height: 40%;
            width: auto;
        }
        .take-action-wrap-box .img1 {
            display: none;
        }

        .take-action-wrap-box .img2 {
            display: inline;
            position: absolute;
            width: auto;
            height: 10em;
            top: 0;
        }
    
        .take-action {
            position: absolute;
            top: 15em;
        }
    
        .did-you-know-container {
            position: relative;
            margin-top: 4em;

        }
    
        .did-you-know-wrap-box {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            height: 32em;
            color: #354463;
            position: relative;
            margin-top: 1.5em;
        }
    
    
        .did-you-know-wrap-box p {
            height: auto;
            font-size: 0.6em;
            line-height: 1.65em;
            width: 60%;
            position: relative;
            left: 2em;
            top: 3em;
        }
    
        .did-you-know-wrap-box strong {
            font-size: 2em;
            font-weight: 550;
            text-align: center;
        }
        .img-wrap {
            position: relative;
            left: 3em;
        }
    
        .img-wrap a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.2em;
            height: 1.2em;
            background: #C1F7D5;
            border-radius: 50%;
            margin: 0.5em 0;
        }
    
        .did-you-know-wrap-box .img-wrap {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 100%;
        }
    
        .did-you-know-legend {
            position: absolute;
            width: 45%;
            font-size: 0.75em;
            top: 1%;
            left: 25%;
        }
    
        .box1 {
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        }
    
        .box2{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
    
        }
    
        .box3{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        }
    
        .box4{
            background: #FFFFFF;
            display: flex;
            flex-flow: row nowrap;
            height: 20%;
            width: 100%;
        } 
     }

     /* The Stories Section */

     .section5 {
         height: 50rem;
     }

     .container-section5 {
         height: 100%;
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
     }

     .stories-wrap {
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         position: relative;
         margin-left: 4em;
     }

     .stories-quote {
         position: relative;
         z-index: 1;
         left: 2.5em;
         display: flex;
         flex-flow: row wrap;
         height: 70%;
         width: 37.5%;
         justify-content: space-around;
         font-family: Arial, Helvetica, sans-serif;
         color:#FFFFFF;
         background-color: #354463;
     }

     .quote {
        font-weight: bolder;
        font-size: 1.35em;
        margin: auto;
        line-height: 1.3em;
        width: 75%;
     }

     .quoted-by {
         color: white;
         font-size: 0.7em;
         font-weight: lighter;
         margin: auto;
         margin-left: 12.5%;
         margin-top: 0;
     }

     .stories-wrap .read-more {
         position: absolute;
         top: 26em;
         left: 3em;
     }
     .image-container {
         position: relative;
     }

     .stories-legend {
         position: absolute;
         top:-1em;
         left: 3em;
     }

     .image-wrap img {
         width: 90%;
         height: auto;
     }

     /* Responsive Layout of Stories Section for Laptops  */
    @media all and (max-width:1280px) {
        .section5 {
            height: 50rem;
        }
   
        .container-section5 {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
   
        .stories-wrap {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: relative;
            margin-left: 4em;
        }
   
        .stories-quote {
            position: relative;
            z-index: 1;
            left: 2.5em;
            display: flex;
            flex-flow: row wrap;
            height: 70%;
            width: 37.5%;
            justify-content: space-around;
            font-family: Arial, Helvetica, sans-serif;
            color:#FFFFFF;
            background-color: #354463;
        }
   
        .quote {
           font-weight: bolder;
           font-size: 1.35em;
           margin: auto;
           line-height: 1.3em;
           width: 75%;
        }
   
        .quoted-by {
            color: white;
            font-size: 0.7em;
            font-weight: lighter;
            margin: auto;
            margin-left: 12.5%;
            margin-top: 0;
        }
   
        .stories-wrap .read-more {
            position: absolute;
            top: 26em;
            left: 3em;
        }
        .image-container {
            position: relative;
        }
   
        .stories-legend {
            position: absolute;
            top:-1em;
            left: 3em;
        }
   
        .image-wrap img {
            width: 90%;
            height: auto;
        }
    }