@media all and (min-width : 765px) and (max-width : 1023px) {

/* Responsive Layout of The Issue Section*/

.section-issue {
    margin-top: 1%;
    background: url(../assets/home/annie-spratt-135307-unsplash@2x.png) no-repeat;
    height: 43em;
    background-size: cover;
    background-position: right;
    background-position: 75% top;
  }

  .container-section-issue {
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  /* The issue box */
  .the-issue-box {
    margin-top: 5em;
    height: 16rem;
    width: 100%;
    background: #FFFFFF;
    border: none;
    margin-right: 1em;
  }

  .box-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
  }

  .issue-legend {
    position: absolute;
  }

  .the-issue-box .text-wrap {
    font-family: Helvetica;
    position: relative;
    font-weight: 600;
    font-size: 2em;
    width: 80%;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.3em;
    color: #354463;
    margin: auto;
    margin-top: auto;
  }

  .the-issue-box .text-link {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    opacity: 0.8;
    font-size: 0.8em;
    text-align: center;
    margin-right: auto;
  }

  .text-link a:visited {
    color: #354463;
  }

  /* Stop Climate Change Text */

  .text-climate {
    height: 10em;
    margin-right: 55%;
    margin-top: 20%;
  }

  /* Responsive Layout of Take Action Section*/
  .section-take-action {
    height: 13em;
    display: flex;
  }

  .container-section-take-action {
    height: 100%;
  }

  .take-action-box {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
  }

  .take-action-legend {
    position: absolute;
    top: -1.5em;
    align-self: center;
  }

  .take-action-items {
    margin-top: 2em;
    color: #354463;
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .take-action-items p {
    width: 35%;
    font-weight: 100;
    opacity: 0.8;
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .take-action-items strong {
    font-weight: 930;
    font-size: 1.72em;
    opacity: 1;
  }

  /* Responsive Layout of What We Do section */
  .section-what-we-do {
    height: 76rem;
  }

  .container-section-what-we-do {
    height: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .what-we-do-legend {
    background-color: white;
    color: #354463;
    font-weight: 500;
    width: 8em;
    position: relative;
    top: -2%;
  }


  .text-mission {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.6em;
    line-height: 1.2em;
    color: #FFFFFF;
    position: relative;
    top: -8%;
  }

  .what-we-do-boxes {
    display: flex;
    height: 60%;
    width: 100%;
    flex-flow: column nowrap;
    color: #354463;
    position: relative;
    top: -10%;
  }

  .what-we-do-boxes img {
    width: 45%;
    position: relative;
    left: 5%;
    top: -12%;
  }

  .common-box {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-around;
    background: #FFFFFF;
    height: 15em;
    width: 100%;
    min-width: unset;
    max-width: 35em;
  }

  .common-box strong {
    font-size: 1.3em;
    font-weight: 550;
    line-height: 1.2em;
    position: absolute;
    width: 45%;
    left: 55%;
    top: 7%;
  }

  .common-box p {
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 1.5em;
    position: absolute;
    width: 40%;
    top: 35%;
    left: 55%;
  }

  .common-box .read-more {
    position: relative;
    bottom: 15%;
    left: 15%;
    width: 22%;
    padding: auto;
    margin-left: 8%;
    font-size: 0.8em;
    font-weight: 900;
  }

  .education-box {
    margin: 4em 0;
  }

  /* Responsive Layout of Did you know section */
  .section-did-you-know {
    background: url(../assets/home/did-you-know-background@2x.png) 0 0 no-repeat;
    background-size: cover;
    height: 55em;
  }

  .container-section-did-you-know {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .take-action-wrap-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: relative;
    top: -6em;
    width: 45%;
  }

  .take-action-wrap-box img {
    height: auto;
    width: 85%;
  }

  .take-action-wrap-box .img1 {
    display: none;
  }

  .take-action-wrap-box .img2 {
    display: inline;
  }

  .take-action {
    position: relative;
    top: -20em;
  }

  .did-you-know-container {
    position: relative;
    margin-top: 4em;
  }

  .did-you-know-wrap-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 95%;
    color: #354463;
  }


  .did-you-know-wrap-box p {
    height: auto;
    font-size: 0.65em;
    line-height: 1.65em;
    width: 60%;
    position: relative;
    left: 2em;
    top: 3em;
  }

  .did-you-know-wrap-box strong {
    font-size: 2.4em;
    font-weight: 550;
    text-align: center;
  }

  .img-wrap {
    position: relative;
    left: 3em;
  }

  .img-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    background: #C1F7D5;
    border-radius: 50%;
    margin: 0.5em 0;
  }

  .did-you-know-wrap-box .img-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  .did-you-know-legend {
    position: absolute;
    width: 45%;
    font-size: 0.75em;
    top: 3%;
    left: 7%;
  }

  .boxes {
    display: flex;
    flex-flow: row nowrap;
    height: 15%;
    width: 100%;
  }

  /* Responsive Layout of Stories Section */
  .section-stories {
    height: 50rem;
  }

  .container-section-stories {
    height: 100%;
    display: flex;
  }

  .stories-wrap {
    flex-flow: column-reverse wrap;
    position: relative;
    margin-left: 0;
  }

  .stories-quote {
    position: relative;
    top: -3em;
    left: 1.5em;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    height: 14rem;
    width: 90%;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #354463;
  }

  .quote {
    padding-top: 1em;
    font-weight: bolder;
    font-size: 1.2em;
    margin: auto;
    line-height: 1.3em;
    width: 75%;
  }

  .quoted-by {
    color: white;
    font-size: 0.65em;
    font-weight: lighter;
    margin: auto;
    margin-left: 12.5%;
    margin-top: 0;
  }

  .stories-wrap .read-more {
    position: absolute;
    top: 95%;
    left: 10%;
  }
/* Responsive Layout of Events and Latest News */
.section-events {
    height: 60em;
    background-color: #354463;
  }

  .container-section-events {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
  }

  .container-section-events img {
    width: auto;
    max-height: 15em;
  }

  .text-take-action {
    font-family: ‘flood-std’;
    color: #FFFFFF;
    font-size: 2.2em;
    width: 100%;
    margin: 2em 0;
  }

  .event-container {
    display: flex;
    flex-flow: row nowrap;
    height: 15em;
  }

  .event-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 2em;
    height: 140%;
  }

  .event-wrap h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    font-weight: bolder;
    width: 100%;
    line-height: 1.25em;
  }

  .event-wrap p {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 0.8em;
    width: 100%;
    line-height: 1.4em;
  }

  .event-wrap .read-more {
    font-size: 0.6em;
    top: 0;
  }

  .event-legend {
    background: #FFFFFF;
    color: #354463;
    font-weight: 600;
    font-size: 0.75em;
    width: 10em;
  }

  .latest-news-container {
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 15em;
    margin-top: 8em;
    margin-left: 0;
  }

  .latest-news-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 2em;
    height: 22em;
    margin-right: 2em;
    margin-left: 0;
  }

  .latest-news-wrap h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    font-weight: bolder;
    width: 90%;
    line-height: 1.25em;
  }


  .latest-news-wrap p {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 0.8em;
    width: 90%;
    line-height: 1.4em;
  }

  .latest-news-wrap img {
    margin-left: auto;
    margin-top: auto;
  }

  .latest-news-wrap .read-more {
    font-size: 0.6em;
  }

  .latest-news-legend {
    background: #FFFFFF;
    color: #354463;
    font-weight: 600;
    font-size: 0.75em;
    width: 10em;
  }
  /* Responsive Layout of Newsletter */
  .section-newsletter {
    height: 10em;
    background-color: #C1F7D5;
  }

  .container-section-newsletter {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .section-newsletter .text {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #354463;
    margin-top: 0.5em;
  }

  .section-newsletter input {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.75em;
    width: 70%;
    height: 2em;
    border: none;
    border-radius: 5em;
    position: relative;
    left: -1em;
  }

  .section-newsletter ::placeholder {
    padding-left: 1.2em;
  }

  .section-newsletter .subscribe {
    background: #354463;
    color: #C1F7D5;
    font-size: 0.7em;
    position: relative;
    top: 0;
  }
}